* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*  ========================= NavBar =========================== */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    height: 4rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    position: sticky;
    top: 0;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    
}
nav a {
    text-decoration: none;
    color: crimson;
}
nav ul li a {
    margin: 0.4rem;
    text-decoration: none;
    color: crimson;
    font-size: 1.2rem;
    font-weight: bold;
}
/*  ========================= Main Container =========================== */
main {
    display: flex;
}

.svg {
    margin:auto
}
.searchBar {
    position: fixed;
    top: 4rem;
}
#searchButton {
    position: fixed;
    left: 25rem;
    top: 4.2rem;
}

.selector {
    width: 15%;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    min-height: 100vh;
    border-radius: 6px;
}
#allProducts {
    position: fixed;
    top: 4rem;
}

#mobilier  {
    position: fixed;
    top: 6rem;
}

#biciclete {
    position: fixed;
    top: 8rem;
}

#boardgames {
    position: fixed;
    top: 10rem;
}


.selector button {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    margin: 2rem;
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #004444;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#output {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1rem;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    min-height: 100vh;
}
.welcome {
    position: absolute;
    top: 26%;
    left: 55%;
    /* transform: translate(-50%); */
    z-index: 1;
}
/*  ========================= Card =========================== */
.card {
    margin: auto;
    text-align: center;
    padding: 0.6rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 16rem;
    height: auto;
    border-radius: 6px;
    border-bottom: 0.3rem solid #f0c929;
    border-left: 0.2rem solid #f0c929;
    border-right: 0.2rem solid #f0c929;
    background-color: #fbe6c2;
}
.card img {
   width: 12rem;
   height: 12rem;
}

.addToCart {
    margin-top: 0.6rem;
    padding: 0.3rem 2rem;
    border: none;
    background-color: #f48b29;;
    color: rgb(230, 248, 248);
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
}
/*  ========================= Form =========================== */
form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

#fullName, #email, #message, #submit, #productName{
    width: 20rem;
    margin: auto;
    margin-top: 0.6rem;
    padding: 0.4rem;
    background-color: azure;
    border: none;
}
#fullName, #email, #productName {
    height: 2rem;
}
#message {
    resize: none;
}
/*  ========================= Details=========================== */
#output-details {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details {
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.details img {
    width: 20rem;
    margin: auto;
    border-radius: 10px;
}

.description {
    width: 33%;
    margin: auto;
}
.description h3, p, h4, button {
    margin: 0.8rem;
}
.beneficii {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: flex-end;
   margin: auto;
}
.beneficii h4 {
    margin: 2rem 0rem;
}

#quantity {
    width: 3rem;
    height: 1.7rem;
    border: none;
    border-radius: 6px;
    background-color: #f48b29;
    padding-left: 1rem;
    color: wheat;
    font-weight: bold;
    font-size: 1rem;
}
/*  =========================Cart=========================== */
#cartContainer {
    text-align: right;
    background-color: #d8e7f9;
    min-height: 90vh;
}
#total {
    margin-right: 10rem;
}
#table-body {
    margin: auto;
    padding: 1rem;
    /* border: 1px solid #fb7813; */
    width: 70rem;
    text-align: center;
}
#table-body thead tr{
    background-color: #f48b29;
    padding: 2rem 0rem;
    height: 2rem;
    color: #fbe6c2;
    
}

#table-body thead th {
    border-bottom: 1px solid #ac0d0d;
    border-left: 1px solid #ac0d0d;
    border-right: 1px solid #ac0d0d;
    /* background-color: #eee6e6; */
    border-radius: 6px;
    box-shadow: 0px 0px 4px 1px rgb(107, 104, 104);
}
#cart-body td {
    border-bottom: 1px solid #ac0d0d;
    border-left: 1px solid #ac0d0d;
    border-right: 1px solid #ac0d0d;
    background-color: #eee6e6;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 1px rgb(107, 104, 104);
    font-weight: bold;
}
#cart-body img {
    width: 6rem;
}
#cart-body .title {
    box-shadow: 0px 0px 3px 1px #f48b29;
    padding: 0.6rem 2rem;
    cursor: pointer;
    width: 15rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition-duration: 450ms;
    border-radius: 6px;
}
#cart-body .delete:hover, .title:hover {
    background-color: #fee140;
    color: #ac0d0d;
}
#cart-body .delete {
    /* box-shadow: 1px 1px 5px 2px #b6eb7a; */
    padding: 0.6rem 1rem;
    cursor: pointer;
    
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition-duration: 450ms;
    border-radius: 50%;
    color: red;
}
.confirm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0c929;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    display: none;
    color: #ac0d0d;
    box-shadow: 0px 0px 10px 1px rgb(95, 94, 94);
}
#ok {
    background-color: #f48b29;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}
#finalizare {
    margin-top: 0.6rem;
    margin-right: 11rem;
    padding: 0.3rem 1rem;
    background-color: #f0c929;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
/*  ========================  Admin  ========================= */
#adminContainer{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
#bookInput {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding: 1rem;
}

.adminProduct img{
    width: 12rem;
    margin: auto;
}

.adminProduct {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    width: 16rem;
    
}

.adminProduct .delete {
    width: 40%;
    margin: 0.6rem auto;
    background-color: #fee140;
    border: none;
    padding: 0.3rem;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 350ms;
}

.delete:hover {
    background-color: #fb7813;
}

#picture, #title, #price, #stock {
    height: 2rem;
    margin: 0.3rem;
    padding-left: 0.6rem;
    border-radius: 20px;
    border: none;
    background-color: #f0c929;
    outline: none;
    color: #ac0d0d;
    font-weight: bold;
}

#description {
    resize: none;
    padding: 0.3rem;
    border-radius: 6px;
    border: none;
    background-color: #f0c929;
    border-radius: 20px;
    padding-left: 0.6rem;
    color: #ac0d0d;
    font-weight: bold;
    outline: none;
    
}

#submit, #submitComment {
    padding: 0.3rem;
    border-radius: 6px;
    border: none;
    background-color: #f0c929;
    margin: 0.4rem auto;
    cursor: pointer;
    color: #ac0d0d;
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    border-radius: 20px;
    
}

/* ===================================  Footer  =========================== */

footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    position: sticky;
    bottom: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    margin-left: 0.8rem;
}